.navBarClass{
  margin-bottom: 100px;
}

.productsDisplayClass{
  display: flex;
  /* width: 70%; */
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  
}

.productsImageClass{
  height: 200px;
  width: 200px;
}

.productsDescriptionClass{
  height: 10rem;
  overflow: auto;
}

/* .productsFooterClass{
  display: flex;
  justify-content: space-between;
} */

.productsPriceClass{
  display: flex;
  align-items: center;
}

::-webkit-scrollbar{
  width: 1px;
}

.cartProducts {
  display: flex;
  width: 78%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartProductContainer{
  display: flex;
  padding: 20px;
  gap: 2em;
}

.loginPageConatiner{
  display: flex;
  justify-content: center;
}

.loginPageForm{
  width: 40%;
  padding: 2em;
}